.App-component {
  border: 1px solid;
  margin: 10px;
  margin-bottom: 50px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.App-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.panel-wraper {
  margin-top: 150px;
  padding: 100px;
  background: #fbfbfb;
  width: auto;
  margin: auto;
  box-shadow: 4px 6px 16px 2px #0000003b;
  margin-top: 150px;
  margin-bottom: 150px;
}

input.default-input {
  padding: 15px;
  margin-bottom: 15px;
  min-width: 300px;
  border-radius: 0px;
  border: 1px solid #dbdbdb;
  background: whitesmoke;
  font-size: 18px;
}

button.login-button {
  padding: 15px;
  margin: auto;
  min-width: 330px;
  background: #00d900;
  border: 2px solid #00c900;
  border-radius: 0px;
  font-weight: bold;
  color: white;
  font-size: 18px;
  display: block;
}

.App-green-bg {
  background: #00d900;
  color: white;
}
